body {
     font-family: 'Inter', sans-serif;
     color : #4a5273;
     font-size: 16px;
     font-weight: 400;
     background-color: #fcfcfc;
 }

 .red {
     border : 1px solid red;
 }

 .black {
     border: 1px solid black;
 }

 .green {
     border: 1px solid green;
 }
 
 .sidebar {
     height : 100vh;
     box-shadow: 4px 0 14px 0 rgba(0, 0, 0, 0.1);
     width: 12% ;
     font-size: 0.9rem;
     background-color: white;
 }
 .sidebar a {
     text-decoration: none;
     color : #4a5273;
 }

 .statistics {
     height : 15vh;
     box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
     background-color: white;
 }

 .stat-numbers {
     font-size: 1.8rem;
    

 }
 .stat-border {
     border-width: 4px;
 }

 .content {
     height : 70vh;
     box-shadow: 0px 0px 14px 0 rgba(0, 0, 0, 0.1);
     border-radius : 5px;
     background-color: white;
 }
 .sidebar-btn {
     display : flex;
     flex-direction: column;
     justify-content : space-between;
     align-items: center;
     transition : all 0.5s ease;
     border-radius : 10px;
     min-width: 80%;
     
 }
 .sidebar-btn:hover {
     transform: scale(1.08, 1.08);
     box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
 }

 .sidebar-icon {
     display : block;
     margin : 5px auto;
     width : 25px;
     height : auto;
 }
 .sidebar-logo {
     display  : block;
     width : 80px;
     height: auto;
     margin : 10px auto;
 }

 .card-img {
     display : block;
     width : 80px;
     height : auto;  
     margin: 20px auto 5px auto;
 }
 .card-size {
     width : 80%;
     margin : 0 auto;
 }

 .card-all {
     border : 4px solid #4a5273;
     border-radius : 50px;
     font-size: 0.9rem;
     font-weight : 600;
     transition: all 0.5s ease;
 }
 .card-all span {
     display : block;
     
     
 }
 .card-all a {
     text-decoration : none;
     color : inherit;
     font-weight: 500;
     
 }
 .card-all:hover {
     transform: scale(1.08, 1.08);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     
 }

 .form-rtl {
     direction: rtl;
 }

form {
    font-size: 0.9rem;
}
 form button {
     display : block !important;
 }

 .btn-position {
     direction: ltr;
 }

 .arabic-label {
    font-size: 0.9rem;
    font-family: 'Cairo', sans-serif;
    font-weight: 400;  
 }

.table {
    font-size: 0.9rem;
}
 .table-btn {
     background-color: #00e38c;
     border: none;
     font-size: 0.8rem;
 }


 .login {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
 }
 .index-container {
     height: 100vh;
     color: #b1b6ce;
 }

.index-text {
    font-size: 1.1rem;;
}
.index-logo {
    display: block;
    width: 100px;
    height: auto;
    margin: 20px auto 8px auto;
}

.login-text {
    border-bottom: 4px solid white;    
    transition : all 0.3s ease-in;
}
.login-input {
    font-size: 0.9rem;
    color : #b1b6ce;
}

form {
    font-size: 0.9rem !important;
}

.btn-login {
    background-color : #495172;
    color: white;
    transition: all 0.2s ease-out;
}

.btn-login:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.login-text:hover {
    color : #4a5273;
    border-bottom: 4px solid #4a5273;
}

.footer-logo {
    width: 80px;
    height: auto;
}
.footer-height {
    height: 120px;
}

footer a {
    text-decoration: none;
    font-weight: 400;
    color: inherit;
    font-size: 0.9rem;
    transition: color 0.3s ease-in;
}

footer a:hover {
    color : #4a5273;
    text-decoration: none;
}

.fa {
    color: #495172;
    margin: 0 3px;
    font-size: 0.8rem;
    animation: pound .35s infinite alternate;
    
}

@keyframes pound {
    from {}
    to {transform: scale(1.14) }
}

.my-custom-scrollbar {

    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 6px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b8b8b8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #969696;
}